services:
  app:
    image: python:3.10-slim
    volumes:
      - ./src:/app
    working_dir: /app
    env_file:
      - ./src/.env
    command: >
      bash -c "
        echo "Installing_Dependencies..." && 
        pip install -r requirements.txt && 
        pip install --upgrade pip && 
        echo "Running_Bot..." && 
        python -u ./bot.py"